body {
  font-family: $fontStandard;
  font-weight: 400;
  font-size: 62.5%;
}

ul,
li,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 4.3rem;
  text-transform: uppercase;
  color: $white;
}

h2,
h3,
h4 {
  font-size: 2.8rem;
  line-height: 99.8px;
  font-weight: 400;
}

h2,
h5 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: $white;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

h5 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  font-weight: 400;
}

h6 {
  text-transform: uppercase;
  color: $yellow;
  font-size: 1.3rem;
  line-height: 58px;
  letter-spacing: 0.8px;
  font-weight: 400;
  margin: 0;
}

nav {
  font-weight: 700;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
}

button {
  font-size: 1.4rem;
  line-height: 41.6px;
  text-align: center;
  color: $pine;
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 2px;
  padding: 0px $small;
  text-transform: uppercase;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $yellow;
    background-color: $pine;
    border: 2px solid $yellow;
  }
}

.alt-button {
  color: $white;
  background-color: $black;
  border: 2px solid $black;
  padding: 0px $standard;

  &:hover,
  &:focus {
    color: $black;
    background-color: $white;
    border: 2px solid $black;
  }
}

p {
  font-family: $fontAlternative;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 0px 0px $large 0px;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}

li {
  list-style-type: none;

  &:focus-within {
    color: $yellow;
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  padding: 0px $standard;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 50px repeat(8, minmax(auto, 175px)) 50px auto;
}

.left-bottom-shadow {
  box-shadow: -15px 15px 0px 0px $yellow;
  -webkit-box-shadow: -15px 15px 0px 0px $yellow;
  -moz-box-shadow: -15px 15px 0px 0px $yellow;
}

.grid-container-alt {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1400px) 1fr;
  grid-template-rows: 75px minmax(auto, 700px) 75px;
}

.grid-sub-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 100px;
  grid-template-rows: repeat(12, minmax(auto, 1fr));
}
