// ***********************
// General styles
// ***********************

// -------------------
// Normalize general selectors
// -------------------

body {
  font-family: $fontStandard;
  font-weight: $weightRegular;
  font-size: 62.5%;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
footer {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}

// -------------------
// Headings
// -------------------

h1 {
  font-size: $fontSizeXXL;
  font-weight: $weightSemibold;
  color: $white;
}

h2,
h3,
h4 {
  font-size: $fontSizeXL;
  font-weight: $weightRegular;
  line-height: $lineHeightXL;
}

h2 {
  color: $white;
}

h3 {
  text-align: center;
}

h4 {
  font-size: $fontSizeXL;
  color: $yellow;
}

h5 {
  font-size: $fontSizeL;
  font-weight: $weightRegular;
  line-height: $lineHeightL;
  letter-spacing: $letterSpacingL;
}

h6 {
  color: $yellow;
  font-size: $fontSizeM;
  line-height: $lineHeightL;
  letter-spacing: $letterSpacingS;
  font-weight: $weightRegular;
}

// -------------------
// Containers
// -------------------

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 50px 0;
}

.grid {
  display: grid;
  grid-template-columns: 5% repeat(10, 1fr) 5%;
  grid-template-rows: repeat(12, 1fr);
  column-gap: $gapS;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

// .grid-container {
//   display: grid;
//   grid-template-columns: auto 50px repeat(8, minmax(auto, 175px)) 50px auto;
// }

// -------------------
// Box shadows
// -------------------

.left-bottom-shadow {
  box-shadow: -15px 15px 0px 0px $yellow;
  -webkit-box-shadow: -15px 15px 0px 0px $yellow;
  -moz-box-shadow: -15px 15px 0px 0px $yellow;
}

.right-bottom-shadow {
  box-shadow: 15px 15px 0px 0px $yellow;
  -webkit-box-shadow: 15px 15px 0px 0px $yellow;
  -moz-box-shadow: 15px 15px 0px 0px $yellow;
}

// .grid-container-alt {
//   display: grid;
//   grid-template-columns: 1fr minmax(auto, 1400px) 1fr;
//   grid-template-rows: 75px auto 75px;
// }

// -------------------
// Misc styles
// -------------------

p,
*::placeholder {
  font-family: $fontAlternative;
  font-size: $fontSizeXS;
  line-height: $lineHeightXS;
  letter-spacing: $letterSpacingM;
  // margin: 0px 0px $large 0px;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}

li {
  list-style-type: none;

  &:focus-within {
    color: $yellow;
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  padding: 0px $spacingS;
  font-size: $fontSizeXS;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

button {
  font-size: $fontSizeS;
  line-height: $lineHeightM;
  text-align: center;
  color: $pine;
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 2px;
  padding: 0px $spacingXXS;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $yellow;
    background-color: $pine;
    // border: 2px solid $yellow;
  }
}

.alt-button {
  color: $white;
  background-color: $black;
  border-color: $black;
  // padding: 0px $standard;

  &:hover,
  &:focus {
    color: $black;
    background-color: $white;
    // border-color: $black;
  }
}
