// ***********************
// General styles
// ***********************

// -------------------
// Normalize general selectors
// -------------------

body {
  font-family: $fontStandard;
  font-weight: $weightRegular;
  font-size: 62.5%;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
footer {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}

// -------------------
// Headings
// -------------------

h1 {
  font-size: $fontSizeXXL;
  font-weight: $weightSemibold;
  color: $white;
}

h2,
h3,
h4 {
  font-size: $fontSizeXL;
  font-weight: $weightRegular;
  line-height: $lineHeightXL;
}

h2 {
  color: $white;
}

h3 {
  text-align: center;
}

h4 {
  font-size: $fontSizeXL;
  color: $yellow;
}

h5 {
  font-size: $fontSizeL;
  font-weight: $weightRegular;
  line-height: $lineHeightL;
  letter-spacing: $letterSpacingL;
}

h6 {
  color: $yellow;
  font-size: $fontSizeM;
  line-height: $lineHeightL;
  letter-spacing: $letterSpacingS;
  font-weight: $weightRegular;
}

// -------------------
// Misc styles
// -------------------

p,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: $fontAlternative;
  font-size: $fontSizeXS;
  line-height: $lineHeightXS;
  letter-spacing: $letterSpacingM;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}

li {
  list-style-type: none;

  &:focus-within {
    color: $yellow;
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  padding: 0px $spacingS;
  font-size: $fontSizeXS;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

button {
  font-size: $fontSizeS;
  line-height: $lineHeightM;
  text-align: center;
  color: $pine;
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 2px;
  padding: 0px $spacingXXS;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $yellow;
    background-color: $pine;
  }
}
