// Google fonts import
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;600;700&display=swap");

// Colours
$yellow: rgba(255, 211, 0, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(15, 15, 15, 1);
$blackAlt: rgba(23, 27, 14, 1);
$pine: rgba(43, 41, 27, 1);

// Font
$fontStandard: "Josefin Sans", sans-serif;
$fontAlternative: "Barlow", sans-serif;

// Image sizing
$imgHeight: 600px;

// Spacing
$extraSmall: 5px;
$small: 10px;
$standard: 20px;
$medium: 30px;
$large: 40px;
$extraLarge: 50px;
