// ***********************
// Employment section styles
// ***********************

.blog-main {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
}

.blog-main-container {
  display: grid;
  grid-template-columns: auto 10.5%;
  grid-template-rows: repeat(2, auto);
  border-bottom: 2px solid $yellow;
  border-left: 2px solid $yellow;
}

.blog-main-content {
  grid-column: 1 / -2;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: $gapM;
  padding: $spacingL 0px $spacingL $spacingL;
  color: $white;

  h4 {
    margin: 0;
    line-height: $lineHeightM;
    font-size: calc((35 / 16) * 1rem);
  }

  .sub-title {
    color: $white;
  }
}

.blog-main-image {
  padding: 0px 0px $spacingXS $spacingXS;
  grid-column: 1 / -1;
  position: relative;
  height: 380px;
  bottom: 40%;
  right: 2px;

  img {
    max-width: calc(100% + 2px);
  }
}
