// ***********************
// Blog page styles
// ***********************

.blog-wrapper {
  background-color: $pine;
}

.blog-layout {
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "aside main";
  column-gap: $extraLarge;
}

// Aside styles

.blog-layout .aside-container {
  grid-area: aside;
  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 30px;
  grid-template-rows: repeat(12, 1fr);
}

.aside-container .side-image {
  grid-column: 1 / -2;
  grid-row: 1 / 8;
  position: relative;
  z-index: 10;
}

.aside-container .side-image {
  position: relative;
}

.aside-container .side-content {
  padding: 350px 10px 10px 10px;
  background-color: $blackAlt;
  color: $white;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.aside-container .side-content li {
  list-style-type: disc;
  margin-left: 15px;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: $fontAlternative;
}

// Main styles

.blog-layout main {
  grid-area: main;
}

.blog-layout .main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 100px;
  grid-template-rows: auto auto;
}

.blog-layout .main-image {
  padding: 0px 0px 15px 15px;
  grid-column: 1/-1;
  position: relative;
  height: 250px;
}

.blog-layout .main-image img {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 13px);
}

.blog-layout .main-content {
  grid-column: 1/-2;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
  border-left: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
}

.blog-layout .main-content h4 {
  margin: 30px 0px 0px 0px;
}

.blog-layout .main-content p {
  margin: 0;
  color: $white;
}

.sub-title {
  font-weight: 700;
}
