// ***********************
// Footer section styles
// ***********************

footer {
  margin: 0;
  padding: $extraSmall;
  text-align: center;
  background-color: $black;
  color: $white;
}

footer p {
  margin: 0;
}
