// ***********************
// Features section styles
// ***********************

.gallery-section {
  padding: $extraLarge 0px;
  background-color: $blackAlt;
}

.gallery-container {
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $medium;
}
