// ***********************
// Gallery section styles
// ***********************

.gallery-section {
  background-color: $blackAlt;
}

.gallery-container {
  grid-column: 2 / -2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $medium;
}
