// ***********************
// Winnings section styles
// ***********************

.winning-section {
  text-align: center;
  background-color: $pine;

  h3 {
    margin: 50px 0px 20px;
    color: $yellow;
  }

  p {
    width: 70%;
    margin: 0px auto 20px;
    text-align: left;
    color: $white;
  }
}
