// ***********************
// Media queries for home page
// ***********************

@media (max-width: 1290px) {
  // -----------------------
  // General styles
  // -----------------------

  h3 {
    font-size: 2.5rem;
    line-height: 1;
  }

  h5 {
    font-size: 2rem;
  }

  // -----------------------
  // Header styles
  // -----------------------

  .home-image-alt {
    top: 220px;
  }
}

@media (max-width: 1150px) {
  // -----------------------
  // Header styles
  // -----------------------
  .home-image-alt {
    top: 280px;
  }
}

@media (max-width: 1050px) {
  // -----------------------
  // General styles
  // -----------------------
  h5 {
    font-size: 1.7rem;
  }

  button {
    font-size: 1.2rem;
  }

  // -----------------------
  // Feature section styles
  // -----------------------

  .features-section {
    .right-image {
      grid-column: 7 / span 5;
      position: static;
    }

    .left-image {
      grid-column: 2 / span 5;
      position: static;
    }

    .left-content,
    .right-image {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1000px) {
  // -----------------------
  // Header styles
  // -----------------------
  .home-image-alt {
    top: 320px;
  }

  // -----------------------
  // Features section styles
  // -----------------------
  .features-section {
    .left-image,
    .left-content {
      padding-right: 25px;
    }

    .right-image,
    .right-content {
      padding-left: 25px;
    }
  }
}

@media (max-width: 950px) {
  // -----------------------
  // General styles
  // -----------------------
  h5 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    line-height: 35px;
  }

  // -----------------------
  // About section styles
  // -----------------------

  .about-section {
    padding: 50px 0px;

    .card {
      margin-bottom: 20px;
    }

    .title {
      font-size: 2rem;
      line-height: 55px;
    }
  }
}

@media (max-width: 880px) {
  // -----------------------
  // General styles
  // -----------------------
  h5 {
    font-size: 1.5rem;
  }

  // -----------------------
  // Nav styles
  // -----------------------
  .nav-container {
    grid-row: 1 / 3;
  }

  // -----------------------
  // Header styles
  // -----------------------

  .title-container {
    grid-column: 2 / -2;
    grid-row: 4 / span 8;
  }

  .home-image-alt {
    display: none;
  }

  // -----------------------
  // About section styles
  // -----------------------
  .icon-container {
    padding: 2.5px;

    .icon {
      width: 30px;
      height: 30px;
      font-size: 1.25rem;
    }
  }

  // -----------------------
  // Winning section styles
  // -----------------------
  .winning-section {
    h3 {
      margin-top: 0px;
    }

    p {
      width: 85%;
    }
  }
}

@media (max-width: 780px) {
  // -----------------------
  // General styles
  // -----------------------
  h5 {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {
  // -----------------------
  // Spaces section styles
  // -----------------------
  .spaces-section {
    .grid {
      grid-template-rows: repeat(2, auto);
      justify-items: center;
      row-gap: 30px;
    }

    .image {
      grid-column: 2 / -2;
      grid-row: 1 / 2;
    }

    .content {
      grid-column: 2 / -2;
      grid-row: 2 / 3;
    }

    .content-grid {
      justify-items: center;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    button {
      width: 100%;
    }

    .left-bottom-shadow {
      box-shadow: none;
    }
  }

  // -----------------------
  // Location section styles
  // -----------------------

  .location-section {
    min-height: 500px;
  }
}

@media (max-width: 690px) {
  // -----------------------
  // General styles
  // -----------------------
  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  // -----------------------
  // About section styles
  // -----------------------

  .about-section {
    padding: 0;

    .title {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 620px) {
  // -----------------------
  // General styles
  // -----------------------

  h5 {
    line-height: 30px;
  }

  button {
    line-height: 30px;
    font-size: 1rem;
  }

  // -----------------------
  // About section styles
  // -----------------------

  .about-section {
    padding: 0;
  }

  .card {
    grid-column: 2 / -2;
    margin-bottom: 20px;
  }
  .card1 {
    grid-row: 1 / span 3;
  }

  .card2 {
    grid-row: 4 / span 3;
  }

  .card3 {
    grid-row: 7 / span 3;
  }

  .card4 {
    grid-row: 10 / span 3;
  }

  // -----------------------
  // Feature section styles
  // -----------------------

  .features-section {
    text-align: center;
    .grid {
      grid-template-rows: repeat(4, auto);
      justify-items: center;
      row-gap: 30px;
    }

    .left-image,
    .right-image,
    .left-content,
    .right-content {
      grid-column: 2 / -2;
      padding: 0;
      margin: 0;
    }

    .left-image {
      grid-row: 1 / span 1;
    }

    .right-content {
      grid-row: 2 / span 1;
    }

    .right-image {
      grid-row: 3 / span 1;
    }

    .left-content {
      grid-row: 4 / span 1;
    }

    .right-bottom-shadow,
    .left-bottom-shadow {
      box-shadow: none;
    }

    button {
      width: 100%;
    }
  }

  // -----------------------
  // Winning section styles
  // -----------------------

  .winning-section {
    h3 {
      font-size: 2rem;
    }

    p,
    button {
      text-align: center;
      width: 90%;
    }
  }

  // -----------------------
  // Location section styles
  // -----------------------

  .location-section {
    min-height: 400px;
  }

  // -----------------------
  // Gallery section styles
  // -----------------------

  .gallery-container {
    column-gap: 10px;
  }
}

@media (max-width: 500px) {
  // -----------------------
  // General styles
  // -----------------------
  .grid {
    column-gap: 5px;
  }

  // -----------------------
  // Nav styles
  // -----------------------

  .nav-links {
    justify-content: stretch;
    justify-items: center;
    column-gap: 5px;

    a {
      padding: 10px;
      font-size: 1rem;
    }

    a::after {
      width: calc(100% - 20px);
      right: 10px;
      bottom: 10px;
    }
  }

  // -----------------------
  // Header styles
  // -----------------------

  h1 {
    text-align: center;
    font-size: calc(3rem + 1vw);
  }
  // -----------------------
  // Gallery section styles
  // -----------------------

  .gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center center;
    row-gap: 20px;
  }
}

@media (max-width: 450px) {
  // -----------------------
  // Winning section styles
  // -----------------------
  .winning-section {
    h3 {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 400px) {
  // -----------------------
  // General styles
  // -----------------------
  .container {
    padding: 30px 0px;
  }

  // -----------------------
  // Nav styles
  // -----------------------
  .nav-container {
    grid-column: 1 / -1;
  }

  .nav-links {
    background-color: $black;
    opacity: 0.75;

    a {
      padding: 2.5px;
    }

    a::after {
      width: calc(100% - 7.5px);
      right: 5px;
      bottom: 5px;
    }
  }

  // -----------------------
  // Header styles
  // -----------------------

  h1 {
    text-align: center;
    font-size: calc(2.5rem + 1vw);
  }

  // -----------------------
  // Location section styles
  // -----------------------

  .location-section {
    min-height: 300px;
  }
}

@media (max-width: 400px) {
  // -----------------------
  // Header styles
  // -----------------------

  h1 {
    font-size: calc(2rem + 1vw);
  }

  h3 {
    font-size: 1.5rem;
  }

  // -----------------------
  // About section styles
  // -----------------------

  .about-section {
    .icon {
      width: 20px;
      height: 20px;
      font-size: 1rem;
    }
  }
}
