// ***********************
// Media queries
// ***********************

@media (max-width: 1290px) {
  // -----------------------
  // General styles
  // -----------------------

  h3 {
    font-size: 2.5rem;
    line-height: 1;
  }

  h5 {
    font-size: 2rem;
  }

  // -----------------------
  // Header styles
  // -----------------------

  .home-image-alt {
    top: 220px;
  }
}
