// ***********************
// Multiple page styles
// ***********************

.pine-bg {
  background-color: $pine;
}

.grid-inner-container {
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "aside main";
  column-gap: $extraLarge;
}

// .grid-inner-container aside {
//   grid-area: aside;
// }

.aside-container {
  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 30px;
  grid-template-rows: repeat(12, 1fr);
}

.blog-main,
.contact-main {
  grid-area: main;
}
