// ***********************
// Nav styles
// ***********************

nav {
  margin: 0px;
}

.nav-container {
  grid-column: 2/12;
  grid-row: 1 / span 1;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  column-gap: 10px;
}

.nav-link a {
  padding: 10px 20px 10px 0px;
}

.active::after {
  content: "";
  background-color: $yellow;
  display: inline-block;
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  bottom: 10px;
  right: 20px;
}
