// ***********************
// Nav styles
// ***********************

nav {
  margin: 0px;
}

.nav-container {
  grid-column: 2/12;
  grid-row: 1 / span 1;
}

.nav-container a {
  padding: 10px 20px 10px 0;
  margin-right: 20px;
}

.active::after {
  content: "";
  background-color: $yellow;
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 10px;
  right: 35%;
}
