// ***********************
// Spaces section styles
// ***********************

.spaces-section {
  padding: 100px 0px;
  background-color: $pine;
  color: $white;
}

.spaces-section .image {
  grid-column: 3/5;
}

.spaces-section .content {
  grid-column: 6/10;
}

.spaces-section .content h3 {
  margin: 0px 0px $standard 0px;
  color: $yellow;
  text-align: left;
  line-height: 1;
}
