@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

ul,
li,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 4.3rem;
  text-transform: uppercase;
  color: white;
}

h2,
h3,
h4 {
  font-size: 2.8rem;
  line-height: 99.8px;
  font-weight: 400;
}

h2,
h5 {
  text-transform: uppercase;
  margin: 0;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

h5 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  font-weight: 400;
}

h6 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
  font-weight: 400;
}

nav {
  font-weight: 700;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
}

button {
  font-size: 1.4rem;
  line-height: 41.6px;
  text-align: center;
  color: #2b291b;
  background-color: #ffd300;
  border: 2px solid #ffd300;
  border-radius: 2px;
  padding: 0px 10px;
  text-transform: uppercase;
}
button:hover, button:focus {
  cursor: pointer;
  color: #ffd300;
  background-color: #2b291b;
  border: 2px solid #ffd300;
}

.alt-button {
  color: white;
  background-color: #0f0f0f;
  border: 2px solid #0f0f0f;
  padding: 0px 20px;
}
.alt-button:hover, .alt-button:focus {
  color: #0f0f0f;
  background-color: white;
  border: 2px solid #0f0f0f;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 0px 0px 40px 0px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: inline-block;
}

li {
  list-style-type: none;
}
li:focus-within {
  color: #ffd300;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
a:hover, a:focus {
  color: #ffd300;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 50px repeat(8, minmax(auto, 175px)) 50px auto;
}

.left-bottom-shadow {
  box-shadow: -15px 15px 0px 0px #ffd300;
  -webkit-box-shadow: -15px 15px 0px 0px #ffd300;
  -moz-box-shadow: -15px 15px 0px 0px #ffd300;
}

nav {
  margin: 0px;
}

.nav-container {
  grid-column: 3/11;
  grid-row: 2/3;
}

.nav-container a {
  padding: 10px 20px 10px 0;
  margin-right: 20px;
}

.active::after {
  content: "";
  background-color: #ffd300;
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 10px;
  right: 35%;
}

header {
  background-color: #2b291b;
}

h1 .title-style {
  display: inline-block;
  background: white;
  color: #2b291b;
}

.header-image {
  background-image: url("../assets/home/home-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  grid-column: 1/13;
  grid-row: 1/12;
}

header .grid-container {
  grid-template-rows: repeat(14, minmax(10px, 50px));
}

.header-image-alt {
  grid-column: 7/12;
  grid-row: 4/14;
}

.h1-container {
  grid-column-start: 3;
  grid-row-start: 3;
}

.about-section {
  padding: 100px 0px;
  background-color: #2b291b;
  color: white;
}

.about-section .grid-container {
  grid-template-rows: repeat(2, 1fr);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card1 {
  grid-column: 3/span 4;
  grid-row: 1/2;
}

.card2 {
  grid-column: 7/span 4;
  grid-row: 1/2;
}

.card3 {
  grid-column: 3/span 4;
  grid-row: 2/3;
}

.card4 {
  grid-column: 7/span 4;
  grid-row: 2/3;
}

.icon-container {
  background-color: #ffd300;
  padding: 5px;
  border-radius: 50px;
  margin-top: 20px;
  margin-right: 20px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  color: #0f0f0f;
}

.features-section {
  background-color: #171b0e;
  color: white;
}

.features-section > .grid-container {
  grid-template-rows: 50px auto 75px auto 50px;
}

.left-image {
  grid-column: 2/span 4;
  grid-row: 1/3;
  position: relative;
}

.left-image img {
  box-shadow: 15px 15px 0px 0px #ffd300;
  -webkit-box-shadow: 15px 15px 0px 0px #ffd300;
  -moz-box-shadow: 15px 15px 0px 0px #ffd300;
  position: absolute;
  bottom: 15px;
}

.right-content {
  grid-column: 8/11;
  grid-row: 2/3;
}

.left-content {
  grid-column: 3/span 3;
  grid-row: 4/5;
  text-align: right;
  justify-self: end;
}

.right-image {
  grid-column: 8/12;
  grid-row: 4/8;
  position: relative;
}

.right-image img {
  position: absolute;
}

.winning-section {
  padding: 50px 0px;
  text-align: center;
  background-color: #2b291b;
}

.winning-section h3 {
  color: #ffd300;
}

.winning-section p {
  padding: 50px;
  text-align: left;
  color: white;
}

.location-section {
  background-image: url("../assets/home/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 600px;
}

.spaces-section {
  padding: 100px 0px;
  background-color: #2b291b;
  color: white;
}

.spaces-section .image {
  grid-column: 3/5;
}

.spaces-section .content {
  grid-column: 6/10;
}

.spaces-section .content h3 {
  margin: 0px 0px 20px 0px;
  color: #ffd300;
  text-align: left;
  line-height: 1;
}

.gallery-section {
  padding: 50px 0px;
  background-color: #171b0e;
}

.gallery-container {
  grid-column: 3/span 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

footer {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
}

footer p {
  margin: 0;
}