@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
footer {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}

h1 {
  font-size: calc(3.5rem + 1vw);
  font-weight: 600;
  color: white;
}

h2,
h3,
h4 {
  font-size: calc((45 / 16) * 1rem);
  font-weight: 400;
  line-height: 99.8px;
}

h2 {
  color: white;
}

h3 {
  text-align: center;
}

h4 {
  font-size: calc((45 / 16) * 1rem);
  color: #ffd300;
}

h5 {
  font-size: calc((40 / 16) * 1rem);
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h6 {
  color: #ffd300;
  font-size: calc((25 / 16) * 1rem);
  line-height: 58px;
  letter-spacing: 0.8px;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 50px 0;
}

.grid {
  display: grid;
  grid-template-columns: 5% repeat(10, 1fr) 5%;
  grid-template-rows: repeat(12, 1fr);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-bottom-shadow {
  box-shadow: -15px 15px 0px 0px #ffd300;
  -webkit-box-shadow: -15px 15px 0px 0px #ffd300;
  -moz-box-shadow: -15px 15px 0px 0px #ffd300;
}

.right-bottom-shadow {
  box-shadow: 15px 15px 0px 0px #ffd300;
  -webkit-box-shadow: 15px 15px 0px 0px #ffd300;
  -moz-box-shadow: 15px 15px 0px 0px #ffd300;
}

*::-webkit-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: calc((20 / 16) * 1rem);
  line-height: 28px;
  letter-spacing: 1px;
}

*::-moz-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: calc((20 / 16) * 1rem);
  line-height: 28px;
  letter-spacing: 1px;
}

*:-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: calc((20 / 16) * 1rem);
  line-height: 28px;
  letter-spacing: 1px;
}

*::-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: calc((20 / 16) * 1rem);
  line-height: 28px;
  letter-spacing: 1px;
}

p,
*::placeholder {
  font-family: "Barlow", sans-serif;
  font-size: calc((20 / 16) * 1rem);
  line-height: 28px;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: inline-block;
}

li {
  list-style-type: none;
}
li:focus-within {
  color: #ffd300;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  font-size: calc((20 / 16) * 1rem);
  cursor: pointer;
}
a:hover, a:focus {
  color: #ffd300;
}

button {
  font-size: calc((22.4 / 16) * 1rem);
  line-height: 41.6px;
  text-align: center;
  color: #2b331b;
  background-color: #ffd300;
  border: 2px solid #ffd300;
  border-radius: 2px;
  padding: 0px 10px;
}
button:hover, button:focus {
  cursor: pointer;
  color: #ffd300;
  background-color: #2b331b;
}

.alt-button {
  color: white;
  background-color: #0f0f0f;
  border-color: #0f0f0f;
}
.alt-button:hover, .alt-button:focus {
  color: #0f0f0f;
  background-color: white;
}

.pine-bg {
  background-color: #2b331b;
}

.title-container {
  grid-column: 2/span 12;
  grid-row: 3/span 5;
}

.sub-title {
  font-weight: 700;
  color: #ffd300;
  margin: 0;
}

.grid-inner-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "aside main";
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.contact-form-container {
  padding: 0px 0px 75px 75px;
}

.contact-main {
  grid-area: main;
}

.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 11.5%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.form-container .input-container {
  grid-row: 1/2;
}
.form-container .input-container:first-child {
  grid-column: 1/2;
}
.form-container .input-container:nth-child(2) {
  grid-column: 2/3;
}
.form-container .submit-btn {
  grid-row: 3/4;
  grid-column: 1/-1;
}

.comment-input-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.input-areas {
  padding: 20px;
  width: 100%;
  background-color: #2b331b;
  border: none;
}
.input-areas::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1rem;
}
.input-areas::-moz-placeholder {
  color: white;
  opacity: 1;
  font-size: 1rem;
}
.input-areas:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1rem;
}
.input-areas::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1rem;
}
.input-areas::placeholder {
  color: white;
  opacity: 1;
  font-size: 1rem;
}

.input-textarea {
  border: 2px solid #ffd300;
}

.name-input,
.email-input {
  border-bottom: 2px solid #ffd300;
}

.home-header-image {
  background-image: url("../assets/home/home-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

h1 .title-style {
  display: inline-block;
  background: white;
  color: #2b331b;
}

.home-image-alt {
  grid-column: 7/-1;
  grid-row: 1/-1;
  position: relative;
  top: 180px;
}

.blog-header-image {
  background-image: url("../assets/blog/blog-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.contact-header-image {
  background-image: url("../assets/contact/contact-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.nav-container {
  grid-column: 2/12;
  grid-row: 1/span 1;
}

nav {
  font-weight: 700;
  font-size: calc((20 / 16) * 1rem);
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.nav-link a {
  padding: 10px 20px 10px 0px;
}

.active::after {
  content: "";
  background-color: #ffd300;
  display: inline-block;
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  bottom: 10px;
  right: 20px;
}

footer {
  padding: 5px;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
}

.about-section {
  padding: 100px 0px;
  background-color: #2b331b;
  color: white;
}

.card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
  place-items: center start;
}
.card .icon-container {
  justify-self: start;
  background-color: #ffd300;
  padding: 5px;
  border-radius: 50%;
}
.card .content {
  grid-column: 2/-1;
}

.card1 {
  grid-column: 2/span 5;
  grid-row: 1/7;
}

.card2 {
  grid-column: 7/span 5;
  grid-row: 1/7;
}

.card3 {
  grid-column: 2/span 5;
  grid-row: 7/-1;
}

.card4 {
  grid-column: 7/span 5;
  grid-row: 7/-1;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  color: #0f0f0f;
}

.features-section {
  background-color: #171b0e;
  color: white;
}
.features-section p {
  margin-bottom: 50px;
}
.features-section .left-image {
  grid-column: 1/span 6;
  grid-row: 1/span 6;
  position: relative;
  bottom: 65px;
  padding-right: 50px;
}
.features-section .right-content {
  grid-column: 7/span 5;
  grid-row: 1/span 6;
  padding-left: 50px;
}
.features-section .right-image {
  grid-column: 7/span 6;
  grid-row: 7/span 6;
  position: relative;
  top: 75px;
  padding-left: 50px;
}
.features-section .left-content {
  grid-column: 2/span 5;
  grid-row: 7/span 6;
  margin-top: 75px;
  padding-right: 50px;
}

.winning-section {
  text-align: center;
  background-color: #2b331b;
}
.winning-section h3 {
  margin: 50px 0px 20px;
  color: #ffd300;
}
.winning-section p {
  width: 70%;
  margin: 0px auto 20px;
  text-align: left;
  color: white;
}

.location-section {
  background-image: url("../assets/home/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 600px;
}

.spaces-section {
  background-color: #2b331b;
  color: white;
}
.spaces-section .image {
  grid-column: 2/5;
  grid-row: 1/-1;
}
.spaces-section .content {
  grid-column: 6/-2;
  grid-row: 1/-1;
}
.spaces-section .content-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  justify-items: start;
}
.spaces-section h3 {
  color: #ffd300;
  text-align: left;
}

.gallery-section {
  background-color: #171b0e;
}

.gallery-container {
  grid-column: 2/-2;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.blog-aside {
  grid-column: 1/span 4;
  grid-row: 1/-1;
}

.blog-aside-container {
  display: grid;
  grid-template-columns: 20% auto 10px;
  grid-template-rows: repeat(4, 1fr) auto;
}
.blog-aside-container li {
  list-style-type: disc;
  margin-left: 15px;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: "Barlow", sans-serif;
}

.blog-aside-image {
  grid-column: 1/-2;
  grid-row: 1/span 2;
  position: relative;
}

.blog-aside-image::after {
  content: "";
  height: 340px;
  width: 10px;
  position: absolute;
  bottom: 0;
  background-color: #171b0e;
}

.blog-aside-content {
  grid-column: 2/-1;
  grid-row: 3/-1;
  margin-top: -5px;
  padding: 15px 10px;
  background-color: #171b0e;
  color: white;
}
.blog-aside-content h6 {
  font-size: calc((22.4 / 16) * 1rem);
  line-height: 20px;
}

.posts-title {
  margin-top: 50px;
}

.blog-main {
  grid-column: 6/-1;
  grid-row: 1/-1;
}

.blog-main-container {
  display: grid;
  grid-template-columns: auto 10.5%;
  grid-template-rows: repeat(2, auto);
  border-bottom: 2px solid #ffd300;
  border-left: 2px solid #ffd300;
}

.blog-main-content {
  grid-column: 1/-2;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
  padding: 0px 0px 75px 75px;
  color: white;
}
.blog-main-content h4 {
  margin: 0;
  line-height: 41.6px;
  font-size: calc((35 / 16) * 1rem);
}
.blog-main-content .sub-title {
  color: white;
}

.blog-main-image {
  padding: 0px 0px 15px 15px;
  grid-column: 1/-1;
  position: relative;
  height: 380px;
  bottom: 40%;
  right: 2px;
}
.blog-main-image img {
  max-width: calc(100% + 2px);
}

.comments-container {
  display: grid;
  grid-template-columns: 1fr 11.5%;
  grid-template-rows: repeat(2, auto);
  padding: 50px 0px 0px 75px;
}
.comments-container h5 {
  margin-bottom: 20px;
  color: white;
}

.comments {
  grid-column: 1/2;
  grid-row: 2/3;
}

.comment {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 75px;
}
.comment .content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  color: white;
}
.comment .image {
  grid-column: 1/2;
}

.contact-aside {
  grid-column: 2/4;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "contact-aside-container";
}

.contact-aside-container {
  grid-area: contact-aside-container;
  color: white;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icon {
  font-size: 2rem;
  padding-right: 20px;
  color: #ffd300;
}

.email-address {
  margin-bottom: 20px;
}

.address p {
  margin: 0;
}

.contact-main {
  grid-column: 5/12;
  grid-row: 1/-1;
}
.contact-main .contact-form-container {
  grid-template-columns: auto;
  padding: 0;
}
.contact-main .form-container,
.contact-main .input-areas {
  background-color: #171b0e;
}

.form-position {
  position: relative;
  bottom: 200px;
}

.form-wrapper {
  padding: 50px;
}

@media (max-width: 1290px) {
  h3 {
    font-size: 2.5rem;
    line-height: 1;
  }

  h5 {
    font-size: 2rem;
  }

  .home-image-alt {
    top: 220px;
  }
}
@media (max-width: 1150px) {
  .home-image-alt {
    top: 280px;
  }
}
@media (max-width: 1050px) {
  h5 {
    font-size: 1.7rem;
  }

  button {
    font-size: 1.2rem;
  }

  .features-section .right-image {
    grid-column: 7/span 5;
    position: static;
  }
  .features-section .left-image {
    grid-column: 2/span 5;
    position: static;
  }
  .features-section .left-content,
.features-section .right-image {
    margin-top: 20px;
  }
}
@media (max-width: 1000px) {
  .home-image-alt {
    top: 320px;
  }

  .features-section .left-image,
.features-section .left-content {
    padding-right: 20px;
  }
  .features-section .right-image,
.features-section .right-content {
    padding-left: 20px;
  }
}
@media (max-width: 950px) {
  h5 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    line-height: 35px;
  }

  .about-section {
    padding: 50px 0px;
  }
  .about-section .card {
    margin-bottom: 20px;
  }
  .about-section .title {
    font-size: 2rem;
    line-height: 55px;
  }
}
@media (max-width: 880px) {
  h5 {
    font-size: 1.5rem;
  }

  .nav-container {
    grid-row: 1/3;
  }

  .title-container {
    grid-column: 2/-2;
    grid-row: 4/span 8;
  }

  .home-image-alt {
    display: none;
  }

  .icon-container {
    padding: 2.5px;
  }
  .icon-container .icon {
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
  }

  .winning-section h3 {
    margin-top: 0px;
  }
  .winning-section p {
    width: 85%;
  }
}
@media (max-width: 780px) {
  h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 750px) {
  .spaces-section .grid {
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 30px;
  }
  .spaces-section .image {
    grid-column: 2/-2;
    grid-row: 1/2;
  }
  .spaces-section .content {
    grid-column: 2/-2;
    grid-row: 2/3;
  }
  .spaces-section .content-grid {
    justify-items: center;
    text-align: center;
  }
  .spaces-section h3 {
    text-align: center;
  }
  .spaces-section button {
    width: 100%;
  }
  .spaces-section .left-bottom-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .location-section {
    min-height: 500px;
  }
}
@media (max-width: 690px) {
  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .about-section {
    padding: 0;
  }
  .about-section .title {
    font-size: 1.5rem;
  }
}
@media (max-width: 620px) {
  h5 {
    line-height: 29px;
  }

  button {
    line-height: 29px;
    font-size: 1rem;
  }

  .about-section {
    padding: 0px;
  }

  .card {
    grid-column: 2/-2;
    margin-bottom: 20px;
  }

  .card1 {
    grid-row: 1/span 3;
  }

  .card2 {
    grid-row: 4/span 3;
  }

  .card3 {
    grid-row: 7/span 3;
  }

  .card4 {
    grid-row: 10/span 3;
  }

  .features-section {
    text-align: center;
  }
  .features-section .grid {
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    row-gap: 30px;
  }
  .features-section .left-image,
.features-section .right-image,
.features-section .left-content,
.features-section .right-content {
    grid-column: 2/-2;
    padding: 0px;
    margin: 0px;
  }
  .features-section .left-image {
    grid-row: 1/span 1;
  }
  .features-section .right-content {
    grid-row: 2/span 1;
  }
  .features-section .right-image {
    grid-row: 3/span 1;
  }
  .features-section .left-content {
    grid-row: 4/span 1;
  }
  .features-section .right-bottom-shadow,
.features-section .left-bottom-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .features-section button {
    width: 100%;
  }

  .winning-section h3 {
    font-size: 2rem;
  }
  .winning-section p,
.winning-section button {
    text-align: center;
    width: 90%;
  }

  .location-section {
    min-height: 400px;
  }

  .gallery-container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 500px) {
  .grid {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }

  .nav-links {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    justify-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .nav-links a {
    padding: 10px;
    font-size: 1rem;
  }
  .nav-links a::after {
    width: calc(100% - 20px);
    right: 10px;
    bottom: 10px;
  }

  h1 {
    text-align: center;
    font-size: calc(3rem + 1vw);
  }

  .gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center center;
    row-gap: 20px;
  }
}
@media (max-width: 450px) {
  .winning-section h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 30px 0px;
  }

  p {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .nav-container {
    grid-column: 1/-1;
  }

  .nav-links {
    background-color: #0f0f0f;
    opacity: 0.75;
  }
  .nav-links a {
    padding: 2.5px;
  }
  .nav-links a::after {
    width: calc(100% - 7.5px);
    right: 5px;
    bottom: 5px;
  }

  h1 {
    text-align: center;
    font-size: calc(2.5rem + 1vw);
  }

  .location-section {
    min-height: 300px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: calc(2rem + 1vw);
  }

  h3 {
    font-size: 1.5rem;
  }

  .about-section .icon {
    width: 20px;
    height: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 1290px) {
  h6 {
    font-size: 1rem;
    line-height: 40px;
  }

  .blog-aside-content p {
    line-height: 20px;
  }

  .blog-main-content h4 {
    font-size: calc((30 / 16) * 1rem);
  }
}
@media (max-width: 1200px) {
  h4 {
    font-size: 1.8rem;
  }

  .blog-aside-image::after {
    height: 300px;
  }

  .blog-aside-content {
    margin-top: -15px;
    padding: 25px 10px;
  }
  .blog-aside-content h6,
.blog-aside-content p,
.blog-aside-content li {
    font-size: 1rem;
  }

  .blog-main-image {
    height: 360px;
  }
}
@media (max-width: 1075px) {
  .blog-aside-image::after {
    height: 250px;
  }

  .blog-main-image {
    bottom: 30%;
    height: 330px;
  }
  .blog-main-image img {
    position: absolute;
    max-width: calc(100% + 2px - 15px);
  }

  .blog-main-content {
    padding: 0px 0px 50px 50px;
  }
  .blog-main-content h4 {
    font-size: 1.5rem;
  }

  .comments-container,
.contact-form-container {
    padding: 0px 0px 0px 50px;
  }

  .comments-container h5 {
    margin: 15px 0px;
  }

  .comment {
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .blog-aside-content {
    padding: 75px 10px;
    margin-top: -100px;
  }
  .blog-aside-content h6,
.blog-aside-content p,
.blog-aside-content li {
    font-size: 0.9rem;
  }

  .posts-title {
    margin-top: 20px;
  }
}
@media (max-width: 950px) {
  .blog-header-image {
    height: 500px;
  }

  .blog-aside {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .blog-aside-container {
    margin: 15px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    border-radius: 10px;
  }

  .blog-aside-image {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    place-items: center center;
    background-color: #171b0e;
    padding: 10px;
  }
  .blog-aside-image::after {
    display: none;
  }
  .blog-aside-image img {
    display: block;
  }

  .blog-aside-content {
    padding: 25px;
    margin: 0px;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
  .blog-aside-content h6 {
    font-size: 1rem;
  }

  .main-grid-mobile {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: repeat(2, auto);
  }

  .blog-main {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .blog-main-container {
    padding: 15px;
    border: 2px solid #ffd300;
    display: block;
  }

  .blog-main-image {
    bottom: 0;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .blog-main-image .left-bottom-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-main-image img {
    position: static;
  }

  .blog-main-content,
.comments-container {
    padding: 0px;
  }

  .comments-container {
    display: block;
    padding: 15px;
  }

  .contact-form-container {
    padding: 15px;
    display: block;
  }
}
@media (max-width: 820px) {
  .blog-aside-container p,
.blog-aside-container li {
    font-size: 0.8rem;
  }

  .blog-aside-content {
    padding: 15px;
  }

  .posts-title {
    margin-top: 20px;
  }

  .comments-container h5 {
    line-height: 20px;
  }

  .comment {
    margin-bottom: 25px;
  }
}
@media (max-width: 700px) {
  .blog-aside-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .blog-aside-image {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    background-color: #171b0e;
    padding: 40px;
  }
  .blog-aside-image img {
    display: inline-block;
  }

  .blog-aside-content {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media (max-width: 500px) {
  h2 {
    text-align: center;
  }

  .blog-header-image {
    height: 300px;
  }

  .blog-aside-container {
    margin: 5px;
  }

  .blog-aside-image {
    padding: 15px;
  }

  .blog-main-container,
.comments-container,
.contact-form-container {
    padding: 5px;
  }

  .blog-main-content h4 {
    font-size: 1rem;
  }

  .comment {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
  }
  .comment .image {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .comment .content {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .form-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 15px;
  }
  .form-container .input-container:first-child, .form-container .input-container:nth-child(2), .form-container .comment-input-container, .form-container .submit-btn {
    grid-column: 1/-1;
  }
  .form-container .input-container:first-child {
    grid-row: 1/span 1;
  }
  .form-container .input-container:nth-child(2) {
    grid-row: 2/span 1;
  }
  .form-container .comment-input-container {
    grid-row: 3/span 1;
  }
  .form-container .submit-btn {
    grid-row: 4/span 1;
  }
}
@media (max-width: 800px) {
  .contact-grid-mobile {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
  }

  .contact-main {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contact-main .form-position {
    position: static;
  }

  .contact-aside {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (max-width: 500px) {
  .contact-title h2 {
    font-size: 2rem;
  }

  .contact-main .form-container {
    padding: 15px;
  }
  .contact-main .right-bottom-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .contact-aside {
    text-align: center;
  }
  .contact-aside .flex-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-aside .social-icon {
    padding: 0px 10px;
  }
}