// ***********************
// Media queries for blog page
// ***********************

@media (max-width: 1290px) {
  // -----------------------
  // General styles
  // -----------------------
  h6 {
    font-size: 1rem;
    line-height: 40px;
  }

  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-content {
    p {
      line-height: 20px;
    }
  }

  // -----------------------
  // Employment section styles
  // -----------------------

  .blog-main-content {
    h4 {
      font-size: calc((30 / 16) * 1rem);
    }
  }
}

@media (max-width: 1200px) {
  // -----------------------
  // General styles
  // -----------------------
  h4 {
    font-size: 1.8rem;
  }

  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-image::after {
    height: 300px;
  }

  .blog-aside-content {
    margin-top: -15px;
    padding: 25px $spacingXXS;

    h6,
    p,
    li {
      font-size: 1rem;
    }
  }

  // -----------------------
  // Employment section styles
  // -----------------------

  .blog-main-image {
    height: 360px;
  }
}

@media (max-width: 1075px) {
  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-image::after {
    height: 250px;
  }

  // -----------------------
  // Employment styles
  // -----------------------

  .blog-main-image {
    bottom: 30%;
    height: 330px;

    img {
      position: absolute;
      max-width: calc(100% + 2px - 15px);
    }
  }

  .blog-main-content {
    padding: 0px 0px $spacingM $spacingM;

    h4 {
      font-size: 1.5rem;
    }
  }

  // -----------------------
  // Comment styles
  // -----------------------

  .comments-container,
  .contact-form-container {
    padding: 0px 0px 0px $spacingM;
  }

  .comments-container {
    h5 {
      margin: $spacingXS 0px;
    }
  }

  .comment {
    margin-bottom: $spacingM;
  }
}

@media (max-width: 1000px) {
  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-content {
    padding: $spacingL $spacingXXS;
    margin-top: -100px;

    h6,
    p,
    li {
      font-size: 0.9rem;
    }
  }

  .posts-title {
    margin-top: $spacingS;
  }
}

@media (max-width: 950px) {
  // -----------------------
  // Header styles
  // -----------------------

  .blog-header-image {
    height: 500px;
  }

  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .blog-aside-container {
    margin: $spacingXS;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    border-radius: 10px;
  }

  .blog-aside-image {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    place-items: center center;
    background-color: $blackAlt;
    padding: $spacingXXS;

    &::after {
      display: none;
    }

    img {
      display: block;
    }
  }

  .blog-aside-content {
    padding: 25px;
    margin: 0px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    h6 {
      font-size: 1rem;
    }
  }

  // -----------------------
  // Main styles
  // -----------------------

  .main-grid-mobile {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: repeat(2, auto);
  }

  .blog-main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .blog-main-container {
    padding: $spacingXS;
    border: 2px solid $yellow;
    display: block;
  }

  .blog-main-image {
    bottom: 0;
    height: auto;
    padding: 0px;
    text-align: center;

    .left-bottom-shadow {
      box-shadow: none;
    }

    img {
      position: static;
    }
  }

  .blog-main-content,
  .comments-container {
    padding: 0px;
  }

  // -----------------------
  // Comments styles
  // -----------------------

  .comments-container {
    display: block;
    padding: $spacingXS;
  }

  .contact-form-container {
    padding: $spacingXS;
    display: block;
  }
}

@media (max-width: 820px) {
  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-container {
    p,
    li {
      font-size: 0.8rem;
    }
  }

  .blog-aside-content {
    padding: $spacingXS;
  }

  .posts-title {
    margin-top: $spacingS;
  }

  // -----------------------
  // Comments styles
  // -----------------------

  .comments-container {
    h5 {
      line-height: 20px;
    }
  }

  .comment {
    margin-bottom: 25px;
  }
}

@media (max-width: 700px) {
  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .blog-aside-image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    background-color: $blackAlt;
    padding: 40px;

    img {
      display: inline-block;
    }
  }

  .blog-aside-content {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 500px) {
  // -----------------------
  // Header styles
  // -----------------------

  h2 {
    text-align: center;
  }

  .blog-header-image {
    height: 300px;
  }

  // -----------------------
  // Aside styles
  // -----------------------

  .blog-aside-container {
    margin: $spacingXXXS;
  }

  .blog-aside-image {
    padding: $spacingXS;
  }

  // -----------------------
  // Main styles
  // -----------------------

  .blog-main-container,
  .comments-container,
  .contact-form-container {
    padding: $spacingXXXS;
  }

  .blog-main-content {
    h4 {
      font-size: 1rem;
    }
  }

  // -----------------------
  // Comments styles
  // -----------------------

  .comment {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    row-gap: $gapS;

    .image {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    .content {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  }

  .form-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: $spacingXS;

    & .input-container:first-child,
    & .input-container:nth-child(2),
    & .comment-input-container,
    & .submit-btn {
      grid-column: 1 / -1;
    }

    & .input-container:first-child {
      grid-row: 1 / span 1;
    }

    & .input-container:nth-child(2) {
      grid-row: 2 / span 1;
    }

    & .comment-input-container {
      grid-row: 3 / span 1;
    }

    & .submit-btn {
      grid-row: 4 / span 1;
    }
  }
}
